# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa]rtifacts/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.sln.iml

# Test results
[Tt]est[Rr]esults*/
*.trx

# NuGet
packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Logs
*.log

# Resharper
_ReSharper*/
*.DotSettings.user

# OS / Misc
.DS_Store
Thumbs.db


ThirdParty/**
GE.BandSite.Server/wwwroot/media/originals/**
GE.BandSite.Server/wwwroot/images/
GE.BandSite.Server/wwwroot/videos/
node_modules/
